<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Quantity metric:</strong>
  <%= @ingredient.quantity_metric %>
</p>

<p>
  <strong>State:</strong>
  <%= @ingredient.state %>
</p>

<%= link_to 'Edit', edit_recipe_ingredient_path(@ingredient.recipe, @ingredient) %> |
<%= link_to 'Back', recipe_path(@ingredient.recipe) %>
